---
BasedOnStyle: Google
AlignArrayOfStructures: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlwaysBreakBeforeMultilineStrings: false
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ColumnLimit: 105
CompactNamespaces: true
DerivePointerAlignment: false
EmptyLineBeforeAccessModifier: Always
IndentExternBlock: Indent
IndentPPDirectives: BeforeHash
IndentWidth: 4
InsertBraces: true
InsertNewlineAtEOF: true
JavaScriptQuotes: Double
ObjCBinPackProtocolList: Auto
PackConstructorInitializers: BinPack
SeparateDefinitionBlocks: Always
ShortNamespaceLines: 0
SortUsingDeclarations: Lexicographic
SpaceAfterCStyleCast: true
SpacesInContainerLiterals: false
TabWidth: 4
UseTab: Never
